.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    fa-icon {
      font-size: 3em;
      color: red;
    }
  }
}
